* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h3 {
  text-align: center;
  margin-top: 100px;
}
.grid {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  justify-items: center;
  place-content: center;
}
img {
  height: 100px;
  width: 100px;
  margin: auto;
}
