* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main {
  width: 100%;
  height: 100vh;
  background: rgb(245, 245, 201);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
  text-align: center;
}
.content {
  width: 600px;
  height: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.writeup {
  width: 100%;
  height: 400px;
  background: white;
}

.line {
  width: 60px;
  height: 2px;
  background: rgb(92, 92, 241);
  margin: 5px auto;
}
.image {
  width: 180px;
  height: 180px;
  background: rgb(92, 92, 241);
  margin: auto;
  border-radius: 50%;
  margin-top: 15px;
  position: relative;
}
.image img {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  margin-left: -20px;
  margin-top: 5px;
}
.image h1 {
  background: rgb(92, 92, 241);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: white;
  position: absolute;
  top: 5%;
}
.writeup h3 {
  margin-top: 20px;
  letter-spacing: 2px;
  font-weight: bold;
  text-transform: capitalize;
}
.writeup h4 {
  margin-top: 5px;
  font-weight: bold;
  font-size: 12px;
  color: green;
  text-transform: uppercase;
}
.writeup p {
  margin: 10px auto;
  width: 90%;
  font-size: 14px;
  line-height: 20px;
}
.writeup span {
  margin: 10px;
  color: rgb(92, 92, 241);
  cursor: pointer;
}
#surprise {
  margin-top: 5px;
  margin-bottom: 10px;
  color: green;
  font-size: 12px;
  border: 1px solid green;
  border-radius: 5px;
  padding: 3px 5px;
  cursor: pointer;
}
#previous,
#next {
  font-size: 15px;
  border: none;
  color: green;
  background: transparent;
  margin: 5px;
  margin-top: 0;
  cursor: pointer;
}
